WC_BASE_URL=https://TU-DOMINIO.com
WC_KEY=ck_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
WC_SECRET=cs_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

DB_HOST=host.mysql.del.hosting   # ej: srvXXXX.main-hosting.eu
DB_PORT=3306
DB_USER=u174573775_wc_export
DB_PASS=CAMBIAR
DB_NAME=u174573775_wc_export

LOOKBACK_DAYS=3