# Configuración de la Base de Datos MySQL
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=tu_contraseña_secreta
DB_DATABASE=nombre_de_tu_bd

# Configuración del Archivo Excel
EXCEL_FILE_PATH="C:\\ruta\\a\\tu\\archivo\\Pedidos CultivArte.xlsx"
EXCEL_SHEET_NAME="Clientes Web"
