WC_BASE_URL=https://TU-DOMINIO.com
WC_KEY=ck_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
WC_SECRET=cs_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

DB_HOST=host.mysql.del.hosting   
DB_PORT=3306
DB_USER=db_user
DB_PASS=db_pass
DB_NAME=db_name

LOOKBACK_DAYS=3